.ellipsis {
  :global(.van-ellipsis-action) {
    color: #007aff !important;
  }
}

.contentWEB{
  padding-top: 50px;
  padding-bottom:50px;
  height: calc(100vh - 50px - 50px);
  overflow-y: auto;
}

.contentWeapp{
  padding-bottom:50px;
  height: calc(100vh - 50px);
  overflow-y: auto;
}