{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "css",
          "markup",
          "bash",
          "basic",
          "c",
          "cpp",
          "csharp",
          "go",
          "groovy",
          "java",
          "javascript",
          "jsx",
          "lua",
          "php",
          "python",
          "ruby",
          "sql",
          "swift",
          "tsx",
          "typescript",
          "visual-basic",
          "markdown"
        ],
        "plugins": ["line-numbers", "copy-to-clipboard"], //官网有其他功能,这里开启行数和复制按钮功能
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
